.pw_container{
    width: 550px;
    margin: 50px auto;
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 2px;
}

.pws_inner{
    border-collapse: separate;
    border-spacing: 0 15px;
    font-weight: 600;
}

.pws_inner tr{
    height: 40px;
}

.pws_input{
    padding: 5px 10px;
}

.pws_btn{
    width: 100%;
    padding: 10px 5px;
    margin-top: 13px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(100, 100, 231);
    color: white;
    border: 1px;
    border-radius: 4px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
}